<div class="container ml-auto mr-auto">
    <div class="row" *ngIf="product">
        <div class="col-6 border">
            <img class="img-fluid w-100" src="{{product.pictureUrl}}" alt="{{product.name}}">
        </div>
        <div class="col-6">
            <h1 class="mb-4" style="font-size: 3.5rem;">{{product.name}}</h1>
            <p class="mb-4" style="font-size: 1.4rem;">{{product.price}} BYN</p>
            <div class="d-flex justify-content-start align-items-center mb-4">
                <i (click)="decrementQuantity()" class="fa fa-minus-circle .text-primary mr-2 color-black"
                    style="cursor: pointer;font-size: 2rem;"></i>
                <span class="font-weight-bold mr-2" style="font-size: 1.22rem;">{{quantity}}</span>
                <i (click)="incrementQuantity()" class="fa fa-plus-circle .text-primary" style="cursor: pointer;font-size: 2rem;"></i>
            </div>
            <button (click)="addItemToBasket()" class="btn btn-outline-secondary bnt-lg">Добавить в корзину</button>
        </div>
        <div class="row mt-5">
            <div class="col-12 ml-3">
                <p style="font-size: 3rem;">Описание</p>
                <p style="font-size: 1.2em;">{{product.description}}</p>
            </div>
        </div>
    </div>
</div>