.cart-no {
    position: absolute;
    top: -12px;
    right: 32px;

    height: 25px;
    width: 25px;
    border-radius: 50%;

    font-size: 1em;
    text-align: center;

    background-color: purple;
    color: #fff;
}